body {
    background-color: seagreen;
    display: flex;
}

button {
    border-radius: 50%;
    width: 200px;
    height: 100px;
    background-color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 12px solid violet;
    color: darkblue
    margin: 100px;
}

ul {
    color: firebrick
}